:root {
  --black: #333;
  --dim-grey: #6b6b6b;
  --white: white;
  --dodger-blue: #00aeff;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

body {
  color: var(--black);
  font-family: museo-sans-rounded, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

a {
  margin: 5px;
}

img {
  max-width: 100%;
  display: inline-block;
}

.body {
  background-image: url('../images/BG_Light_Mirror.jpg');
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: 2355px;
  background-attachment: scroll;
}

.lottie-animation-2 {
  z-index: -100;
  opacity: .49;
  width: 350px;
  margin-top: 32px;
  margin-left: -88px;
  display: none;
  position: fixed;
  inset: 0% auto auto 0%;
  overflow: hidden;
  transform: rotate(-90deg);
}

.logo {
  opacity: .65;
  height: 150px;
  margin-top: 10px;
  position: fixed;
}

.cloud {
  opacity: .29;
  object-fit: fill;
  height: 350px;
  margin-top: -91px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  overflow: hidden;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.container {
  justify-content: center;
  display: flex;
}

.tringulat_zab {
  z-index: 2;
  justify-content: flex-start;
  margin-top: -363px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.tringular_1 {
  opacity: .6;
  flex: 0 auto;
  height: 500px;
  margin-top: 70px;
  margin-right: -44px;
  position: fixed;
  inset: 0% 0% 0% auto;
}

.section_home {
  z-index: -999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 529px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.image_home {
  flex: 0 auto;
  width: 80%;
  height: auto;
  overflow: hidden;
}

.image_home.protetyka-2 {
  z-index: -1;
  margin-bottom: -175px;
  position: relative;
}

.panel-gorny {
  z-index: 1;
  mix-blend-mode: multiply;
  position: fixed;
  inset: 0% 0% auto;
  overflow: hidden;
}

.bg {
  z-index: -1;
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  height: 170px;
  position: absolute;
  inset: 0%;
}

.txt {
  opacity: .76;
  width: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: museo-sans-rounded, sans-serif;
  font-size: 16px;
  line-height: 22px;
  display: block;
}

.txt.pracownia-protetyczna {
  width: 70%;
  position: relative;
}

.txt.pracownia-protetyczna._2 {
  z-index: -1;
  width: 70%;
  margin-bottom: -7px;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
}

.txt.pracownia-protetyczna._3 {
  z-index: -1;
  width: 70%;
  position: relative;
}

.txt.artykulografia {
  z-index: -1;
  width: 70%;
  margin-top: 24px;
  margin-bottom: -5px;
  font-size: 26px;
  line-height: 30px;
  display: none;
  position: relative;
}

.txt.proj_cad {
  width: 70%;
  margin-top: 40px;
}

.pracownia {
  color: var(--black);
  text-align: center;
  text-indent: 0;
  column-count: auto;
  margin-top: 54px;
  margin-left: 15px;
  font-family: museo-sans-rounded, sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: fixed;
}

.pracownia.mala {
  display: none;
}

.zab {
  opacity: .5;
  height: 500px;
  margin-top: 346px;
  position: fixed;
}

.image {
  opacity: .5;
  align-self: flex-start;
  width: 500px;
  margin-left: 10%;
  position: absolute;
  overflow: hidden;
}

.cloud_3_s2 {
  z-index: 2;
  opacity: .4;
  width: 100%;
  margin: -424px -430px -430px -843px;
  display: none;
  position: absolute;
  inset: 91% auto 0 81px;
  overflow: hidden;
}

.cloud_3_s2.kontakt {
  z-index: -1;
}

.section_kontakt {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  display: block;
  overflow: hidden;
}

.section_kontakt._2 {
  margin-top: 396px;
}

.mapa {
  z-index: -1;
  width: 100%;
  position: relative;
}

.mapa_div {
  width: 60%;
  overflow: hidden;
}

.div-block-2 {
  flex-direction: row;
  justify-content: center;
  width: 70%;
  display: flex;
}

.div-block-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  display: flex;
}

.face_lab {
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 34px;
  font-weight: 700;
  display: flex;
}

.face_lab.dopisek {
  margin-top: -7px;
  font-size: 12px;
  font-weight: 300;
}

.kategorie {
  z-index: 5;
  flex: 1;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  width: 350px;
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.kategorie.kontakt {
  margin-top: 6px;
  margin-bottom: 50px;
}

.kategorie.zespol {
  margin-top: 2px;
  margin-bottom: 87px;
}

.image-6 {
  width: 280px;
}

.text-block-2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
}

.linia_1 {
  background-color: var(--dim-grey);
  width: 100%;
  height: 1px;
}

.linia_1._2 {
  width: 191px;
}

.txt_16_300 {
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: none;
}

.txt_16_300.tel {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}

.phone, .mail {
  color: var(--black);
  text-decoration: none;
}

.nip {
  color: var(--black);
  cursor: text;
  text-decoration: none;
}

.stopka {
  background-color: var(--dim-grey);
  mix-blend-mode: multiply;
  height: 160px;
  position: relative;
  inset: auto 0% 0%;
  overflow: hidden;
}

.div_stopka {
  opacity: 1;
  background-color: #848484;
  background-image: url('../images/Tringular_3_White.svg'), url('../images/Tringular_4_white.svg'), url('../images/BG_TW1.svg'), url('../images/Cloud_White_50.png'), url('../images/Cloud_White_50.png');
  background-position: -10%, 50% 100%, 100% 40px, 150%, 0%;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
  background-size: auto 300px, auto 300px, auto 150px, 80%, cover;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  display: flex;
}

.top-cover {
  z-index: 1;
  mix-blend-mode: lighten;
  background-image: linear-gradient(#00aeff14, #00aeff00), url('../images/BG_Light_Mirror.jpg');
  background-position: 0 0, 50% 0;
  background-repeat: repeat, repeat;
  background-size: auto, 2355px;
  width: 100vw;
  height: 160px;
  position: fixed;
}

.top-cover.papier {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  mix-blend-mode: multiply;
  background-image: url('../images/BG_Light_Mirror.jpg');
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: 2355px;
  display: none;
}

.link-block {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  text-decoration: none;
}

.logo_face-clinic {
  opacity: .74;
  flex-direction: column;
  align-items: center;
  transition: opacity .2s, transform .2s;
  display: flex;
}

.logo_face-clinic:hover {
  opacity: 1;
  transform: translate(0, -5px);
}

.face-clinic_web_link {
  color: #fff;
  text-transform: none;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.logo_fc_drzewko {
  margin-bottom: 5px;
}

.link {
  color: var(--white);
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 40px;
  text-decoration: none;
}

.polityka-prywatnosci {
  justify-content: center;
  margin-top: 532px;
  display: flex;
}

.link_logo {
  z-index: 8;
  flex: 0 auto;
  justify-content: center;
  width: 100%;
  height: 150px;
  transition: transform .2s;
  display: flex;
  position: relative;
}

.link_logo:hover {
  transform: translate(0, -5px);
}

.tringular_3 {
  z-index: 1;
  opacity: .55;
  height: 300px;
  margin-top: -104px;
  margin-right: 122px;
  position: fixed;
  inset: 0% 0% auto auto;
  transform: rotate(0);
}

.txt_polityka_prywatnosci {
  width: 70%;
}

.link_media {
  opacity: .74;
  margin: 5px 10px 10px;
  transition: opacity .2s, transform .2s;
}

.link_media:hover {
  opacity: 1;
  transform: translate(0, -3px);
}

.txt_link {
  transition: letter-spacing .2s, opacity .2s, transform .2s;
}

.txt_link:hover {
  opacity: 1;
  letter-spacing: 1px;
  text-decoration: underline;
  transform: none;
}

.container-2 {
  height: 0;
}

.div-block-6 {
  margin-left: 20px;
  margin-right: 20px;
}

.image-12 {
  opacity: .59;
  margin-top: -296px;
  margin-left: -61px;
  position: relative;
}

.strona-glowna {
  justify-content: center;
  margin-bottom: 48px;
  display: flex;
}

.link-block-2 {
  background-color: var(--dim-grey);
  opacity: .6;
  color: var(--white);
  text-align: center;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: transform .2s, opacity .2s;
  position: relative;
}

.link-block-2:hover {
  opacity: .65;
  transform: translate(0, -3px);
}

.image-13 {
  margin-top: 9px;
  margin-left: 9px;
  margin-right: 9px;
}

.text-block-4 {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  margin: 5px 10px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.image-14 {
  opacity: .59;
  margin-top: 66px;
  margin-right: -6px;
  position: fixed;
  inset: 0% 0% auto auto;
  transform: rotate(169deg);
}

.maz_2.mazmap2 {
  z-index: 1;
  opacity: .35;
  object-fit: scale-down;
  height: 15%;
  margin-top: 27%;
  margin-left: -2%;
  position: absolute;
}

.duza_mgla {
  opacity: .44;
  position: absolute;
  inset: -13% auto auto -5.5px;
}

.duza_mgla._2 {
  margin-top: -125px;
  inset: 0% 5% 0% auto;
}

.zadzwon {
  background-color: var(--dodger-blue);
  border-radius: 100px;
  width: 70px;
  height: 70px;
  margin-bottom: 140px;
  margin-right: 40px;
  transition: height .3s, width .3s;
  position: fixed;
  inset: auto 0% 0% auto;
  box-shadow: -3px 10px 11px -5px #092b3b99;
}

.zadzwon:hover {
  width: 75px;
  height: 75px;
  box-shadow: -3px 12px 20px -7px #092b3bd9;
}

.zadzwon-teraz {
  z-index: 8;
  position: fixed;
}

.section_zespol {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.section_zespol._2 {
  margin-top: 390px;
}

.zespol_grid {
  width: 70%;
  height: auto;
  display: flex;
  overflow: hidden;
}

.zespol_duble {
  display: flex;
}

.zespol_link_os {
  color: var(--black);
  width: 50%;
  height: auto;
  text-decoration: none;
}

.zespol_link_os.off {
  cursor: default;
}

.image_zespol {
  z-index: -2;
  position: relative;
  overflow: hidden;
}

.section_pracownia {
  flex-direction: column;
  align-items: center;
  height: auto;
  display: flex;
  position: relative;
}

.podpis {
  opacity: .7;
  margin-top: -48px;
  margin-left: 5px;
  position: absolute;
}

.nazwisko {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.funkcja {
  font-size: 12px;
}

.osoba {
  z-index: -1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 528px;
  display: flex;
  overflow: hidden;
}

.osoba_foto_big {
  z-index: -1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  max-width: 50%;
  display: flex;
  position: relative;
}

.text-block-6 {
  align-self: center;
}

.image-18 {
  z-index: -1;
  opacity: .35;
  width: 25%;
  margin-top: 33%;
  margin-right: 225px;
  position: absolute;
  inset: 0% 0% 0% auto;
  overflow: hidden;
}

.podpis_big {
  opacity: .7;
  flex-direction: column;
  align-self: flex-start;
  padding-bottom: 8%;
  padding-left: 5%;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  position: absolute;
}

.text-block-7 {
  font-size: 32px;
  font-weight: 500;
  line-height: 34px;
}

.text-block-8 {
  font-weight: 100;
}

.image-19 {
  z-index: 7;
  opacity: .53;
  position: absolute;
}

.image-20 {
  z-index: -1;
  opacity: .38;
  width: 10%;
  margin-top: 13%;
  margin-left: -1%;
  position: absolute;
}

.image-21 {
  z-index: -1;
  opacity: .38;
  width: 8%;
  margin-top: 13%;
  margin-left: 32%;
  position: absolute;
  transform: rotate(180deg);
}

.html-embed {
  position: relative;
}

.wstecz {
  z-index: 8;
  background-color: #c3c3c3;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 30px;
  transition: transform .2s;
  display: flex;
}

.wstecz:hover {
  transform: translate(0, -3px);
}

.opis-_osoby_big {
  align-self: center;
  width: 60%;
  max-width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.text-block-9 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

.image-23 {
  z-index: -1;
  opacity: .2;
  width: 10%;
  margin-top: 29%;
  margin-left: 12%;
  position: absolute;
  overflow: hidden;
}

.image-24 {
  z-index: -1;
  opacity: .52;
  width: 5%;
  margin-top: 12%;
  margin-left: 53%;
  position: absolute;
  transform: rotate(83deg);
}

.image-25 {
  z-index: -1;
  opacity: .38;
  width: 8%;
  margin-top: 30%;
  margin-left: 49%;
  position: absolute;
  transform: rotate(60deg);
}

.image-26 {
  z-index: -1;
  opacity: .26;
  width: 5%;
  margin-top: 32%;
  margin-left: 33%;
  position: absolute;
}

.image-27 {
  z-index: -1;
  opacity: .39;
  align-self: flex-start;
  width: 600px;
  max-width: none;
  margin-top: 22%;
  margin-left: -15%;
  position: absolute;
  overflow: hidden;
}

.div_links_stopka_right_up {
  margin-left: -33px;
  padding-left: 0;
  display: flex;
}

.txt_stopka_male {
  color: var(--white);
  margin-top: 0;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  text-decoration: none;
}

.artrepublica_link {
  color: var(--white);
  margin-left: 0;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  transition: transform .2s;
}

.artrepublica_link:hover {
  transform: translate(0, -3px);
}

.zespol_funkcja {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 100;
}

.menu {
  z-index: 3;
  background-image: none;
  background-size: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0%;
}

.tooth {
  opacity: .48;
}

.line_1px {
  background-color: var(--black);
  color: var(--dim-grey);
  height: 1px;
  margin-top: 10px;
}

.accordian-wrapper {
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.accordian-wrapper.r {
  align-self: stretch;
}

.accordian-wrapper.r.tech {
  display: none;
}

.accordian-item-content {
  align-self: stretch;
  display: flex;
  overflow: hidden;
}

.accordian-item-trigger {
  cursor: pointer;
  transition: letter-spacing .2s, text-indent .2s;
}

.accordian-item-trigger:hover {
  letter-spacing: 1px;
}

.round-16 {
  z-index: 5;
  flex-direction: column;
  flex: 0 auto;
  align-self: auto;
  width: 230px;
  max-width: 800px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  position: relative;
}

.accordian-content {
  flex-direction: column;
  flex: 1;
  margin: 5px 10px;
  display: flex;
  overflow: hidden;
}

.link_menu {
  margin-top: 0;
  margin-bottom: 0;
}

.link_menu.plus {
  margin-left: -20px;
  position: absolute;
}

.box-zabiegi {
  flex-direction: column;
  display: flex;
}

.accordian-item {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.box-menu {
  flex-direction: column;
  display: flex;
}

.menu-text {
  opacity: 1;
  color: var(--dim-grey);
  font-family: museo-sans-rounded, sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-decoration: none;
}

.podmenu {
  opacity: .76;
  color: var(--dim-grey);
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  transition: transform .2s, opacity .2s;
}

.podmenu:hover {
  opacity: 1;
  transform: translate(0, -3px);
}

.kreska_10 {
  background-color: var(--dim-grey);
  width: 40px;
  height: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.kreski_button {
  z-index: 5;
  background-image: url('../images/BG_Light_Mirror.jpg');
  background-size: 2355px;
  padding-left: 7px;
  padding-right: 7px;
  transition: transform .2s;
}

.kreski_button:hover {
  transform: scale(1.03);
}

.menu-button {
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-left: 3%;
  transition: transform .2s;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.menu-button:hover {
  transform: scale(1.1);
}

.happy_tooth {
  align-self: center;
  width: 15%;
  min-width: 260px;
  max-width: 15%;
  margin-top: 40px;
}

.menu_accordian {
  background-image: url('../images/BG_Light_Mirror.jpg');
  background-size: 2235px;
  flex: 1;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.image-28 {
  opacity: .45;
  align-self: flex-end;
  width: 600px;
  position: absolute;
}

.tringulates_a_2 {
  opacity: .44;
  width: 500px;
  position: absolute;
  inset: 0% auto auto 0%;
  transform: rotate(90deg);
}

.cloud_a_2 {
  z-index: -1;
  opacity: .35;
  width: 300px;
  margin-top: 358px;
  position: absolute;
  inset: -23% 0% auto -101px;
}

.link-menu {
  margin: 0;
  text-decoration: none;
}

.link-menu.w--current {
  margin-top: 0;
  margin-bottom: 0;
}

.section-portfolio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 346px;
  display: flex;
  overflow: hidden;
}

.image_portfolio {
  z-index: -999;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.dystans {
  height: 140px;
}

.section-innowacje {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 346px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.artykulator {
  z-index: -1;
  width: 45%;
  position: relative;
}

.video {
  width: 100%;
  display: block;
}

.image_inn_2 {
  width: 80%;
  max-width: 70%;
  height: auto;
}

.multiply_1 {
  z-index: 0;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-top: 23px;
  display: flex;
  position: relative;
}

.tech_podkategoria {
  margin-top: 90px;
  font-size: 22px;
  line-height: 26px;
  position: absolute;
}

.section_tech {
  overflow: hidden;
}

.section_tech.proj_cad {
  margin-top: 355px;
}

.section_form {
  overflow: hidden;
}

.section_form.kat {
  min-height: 170px;
  margin-top: 355px;
}

.section-intro {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.image_form {
  z-index: -1;
  object-fit: cover;
  min-height: 100vh;
  position: relative;
}

.image-33 {
  opacity: .52;
  margin-left: -451px;
  position: absolute;
}

.image_cloud {
  opacity: .63;
  position: absolute;
  inset: 0% 0% 0% auto;
  overflow: hidden;
  transform: rotate(117deg);
}

.div-block-87 {
  flex: 1;
  justify-content: space-around;
  display: flex;
}

.form_ico {
  width: 80px;
  max-width: 80px;
}

.panel_form {
  z-index: -1;
  background-color: #414247;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  overflow: hidden;
}

.wstep_do_pacjentow {
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: flex-start;
  max-width: 40%;
  margin-top: 251px;
  padding-left: 9%;
  padding-right: 40px;
  display: flex;
  position: absolute;
  inset: 17% 0% 0%;
}

.button {
  transition: box-shadow .2s, transform .2s;
}

.button:hover {
  transform: translate(0, -3px);
  box-shadow: 2px 2px 4px #00000057;
}

.paragraph {
  color: #fff;
  margin-top: 0;
  padding-left: 5px;
  font-size: 16px;
  line-height: 24px;
}

.div-block-85 {
  flex-direction: row;
}

.container-3 {
  margin-top: 40px;
}

.image-30 {
  opacity: .47;
  margin-left: -253px;
  position: absolute;
}

.rich-text-block {
  align-self: flex-start;
  max-width: 500px;
  padding-bottom: 10px;
}

.image-34 {
  opacity: .42;
  margin-top: 374px;
  position: absolute;
  overflow: hidden;
  transform: rotate(-163deg);
}

.bold-text {
  color: #6b6b6b;
}

.webflowform {
  display: none;
}

.success-message {
  background-image: linear-gradient(#807e7e, #fff);
}

.div-block-89 {
  display: flex;
}

.form_block {
  background-image: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.div-block-90 {
  flex: 1;
}

.div-block-88 {
  display: flex;
}

.html-embed-2 {
  background-color: #fff;
  justify-content: center;
  display: flex;
}

.select-field-2 {
  background-color: #adadad;
}

.powrot-link {
  opacity: .6;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform .2s, opacity .2s;
}

.powrot-link:hover {
  opacity: 1;
  transform: translate(0, -5px);
}

.form_lebel {
  color: #fff;
  min-width: 180px;
}

.brake_20-2 {
  align-self: stretch;
  width: 20px;
}

.textarea {
  background-color: #bbb;
  border-radius: 6px;
  max-width: 880px;
  min-height: 100px;
  max-height: 100ch;
}

.brake-10 {
  width: 10px;
}

.text-block-10 {
  color: #2e2e2e;
  margin-top: 10px;
}

.submit-button {
  background-color: #272727;
  flex: 0 auto;
  margin-top: 2px;
}

.submit-button:hover {
  opacity: .56;
}

.checkbox-field-2 {
  margin-top: 10px;
}

.error-message {
  background-color: #ff9c9c;
}

.image-29 {
  opacity: .81;
  margin-left: 16px;
  padding-bottom: 17px;
}

.text-field-2 {
  background-color: #bbb;
  border-radius: 6px;
}

.text-field-2::placeholder {
  color: #363636;
}

.rich-text-block-3 {
  color: #cacaca;
}

.div-block-80 {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  display: block;
}

.section_formularz_2 {
  padding-bottom: 83px;
  overflow: hidden;
}

.text-block {
  text-align: right;
  font-size: 18px;
  line-height: 24px;
}

.html_form {
  background-color: #3d3d3d00;
  position: relative;
}

.box_zgody {
  display: flex;
}

.div-block-93 {
  background-color: #272727;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 1px;
  display: flex;
}

.jotform {
  z-index: -1;
  background-color: #414247;
  border: 1px solid #414247;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.konsultacje-online {
  background-color: #3d3d3df2;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.div-block-92 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.googleform {
  max-height: 2560px;
  display: none;
  overflow: hidden;
}

.image_clo {
  opacity: .49;
  margin-top: -491px;
  position: absolute;
  transform: translate(0);
}

.zamow_kot {
  margin-top: -190px;
  position: absolute;
}

.div-block-94 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.logo_face-clinic-2 {
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  display: flex;
  position: relative;
}

.logo_fc_drzewko-2 {
  margin-bottom: 5px;
}

.div-block-57 {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  display: flex;
}

.link-block-3 {
  color: #fff;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none;
  transition: letter-spacing .2s;
}

.link-block-3:hover {
  letter-spacing: .7px;
}

.link-2 {
  text-transform: uppercase;
  font-weight: 500;
}

.div-block-95 {
  z-index: -1;
  position: fixed;
  inset: 0%;
  overflow: hidden;
}

.container-4 {
  height: 50%;
}

.film_20 {
  border-radius: 20px;
  align-self: center;
  width: 70%;
  overflow: hidden;
}

.html-embed-3 {
  margin-top: 20px;
  display: none;
}

.html-embed-4 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .lottie-animation-2 {
    width: 350px;
    inset: 0% auto auto 0%;
  }

  .tringular_1 {
    height: 400px;
  }

  .section_home {
    height: 100%;
    margin-top: 531px;
  }

  .image_home {
    width: 120%;
    max-width: none;
  }

  .image_home.protetyka-2 {
    align-self: auto;
  }

  .txt {
    width: 80%;
  }

  .txt.artykulografia {
    margin-top: 33px;
  }

  .zab {
    height: 400px;
    margin-top: 308px;
  }

  .image {
    margin-top: 0%;
    margin-left: -139px;
  }

  .cloud_3_s2 {
    width: auto;
    margin-top: 31px;
    margin-left: -308px;
    display: block;
    top: 54%;
    bottom: 0;
    left: -127px;
  }

  .section_kontakt {
    margin-top: 60px;
    display: flex;
  }

  .section_kontakt._2 {
    margin-top: 558px;
    display: flex;
  }

  .mapa_div {
    width: 100%;
  }

  .div-block-2 {
    flex-direction: column;
    align-items: center;
  }

  .div-block-3 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 320px;
    padding-bottom: 40px;
    display: flex;
  }

  .kategorie {
    z-index: -1;
    align-self: center;
    margin-left: 0%;
  }

  .kategorie.tech {
    width: auto;
    left: auto;
  }

  .kategorie.zespol {
    margin-top: 186px;
    margin-bottom: 31px;
  }

  .linia_1 {
    display: none;
  }

  .linia_1._2 {
    width: 191px;
    display: block;
  }

  .linia_1.mapy {
    display: block;
  }

  .div_stopka {
    background-image: url('../images/Tringular_3_White.svg'), url('../images/BG_TW1.svg'), url('../images/Cloud_White_50.png'), url('../images/Cloud_White_50.png');
    background-position: -30%, 160% 40px, 150%, 0%;
    background-repeat: no-repeat, no-repeat, repeat-x, repeat-x;
    background-size: auto 300px, auto 150px, 80%, cover;
  }

  .tringular_3 {
    height: 200px;
    margin-top: -50px;
    margin-right: -86px;
  }

  .image-12 {
    margin-top: -305px;
    margin-left: -147px;
  }

  .maz_2.mazmap2 {
    height: 12%;
    margin-top: 47%;
    margin-left: -2%;
  }

  .duza_mgla {
    top: -20%;
    left: -316px;
  }

  .duza_mgla._2 {
    margin-left: 62%;
  }

  .zespol_grid {
    flex-direction: column;
  }

  .section_pracownia {
    overflow: hidden;
  }

  .osoba {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    display: flex;
  }

  .osoba_foto_big {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: none;
  }

  .text-block-6 {
    margin: 20px 0 20px 0%;
  }

  .image-17 {
    width: 100vw;
    max-width: none;
  }

  .image-18 {
    width: 70%;
    margin-top: 94%;
    margin-right: 0;
  }

  .podpis_big {
    align-self: flex-start;
    padding-bottom: 0%;
    padding-left: 15%;
  }

  .image-20 {
    width: 20%;
    margin-top: 26%;
  }

  .image-21 {
    width: 15%;
    margin-top: 60%;
    margin-left: 32%;
  }

  .opis-_osoby_big {
    width: 70%;
    max-width: none;
  }

  .text-block-9 {
    display: none;
  }

  .image-23 {
    width: 20%;
    margin-top: 96%;
    margin-left: 26%;
  }

  .image-25 {
    width: 20%;
    margin-top: 126%;
    margin-left: 34%;
  }

  .image-26 {
    width: 20%;
    margin-top: 71%;
    margin-left: -11%;
  }

  .image-27 {
    width: 500px;
    margin-top: -4%;
    margin-left: -38%;
    transform: rotate(90deg);
  }

  .tooth {
    margin-left: 5%;
    margin-right: 5%;
  }

  .accordian-wrapper {
    flex-direction: column;
    display: flex;
  }

  .accordian-wrapper.r {
    flex-direction: row;
  }

  .round-16 {
    margin-left: 5%;
    margin-right: 5%;
  }

  .happy_tooth {
    width: 40%;
  }

  .image-28 {
    width: 400px;
  }

  .section-portfolio {
    height: 100%;
    margin-top: 500px;
  }

  .image_portfolio {
    width: 90%;
  }

  .dystans {
    height: 80px;
  }

  .section-innowacje {
    margin-top: 500px;
  }

  .artykulator {
    width: 70%;
  }

  .multiply_1 {
    padding-top: 0;
  }

  .section_tech.proj_cad {
    margin-top: 363px;
    padding-top: 125px;
  }

  .section_tech.proj_cam, .section_tech.frezowanie, .section_tech.synteryzacja, .section_tech.druk_3d, .section_tech.ceramika {
    margin-top: -135px;
    padding-top: 125px;
  }

  .section_form.kat {
    min-height: 300px;
    margin-top: 363px;
    padding-top: 125px;
    padding-left: 0;
  }

  .section-intro {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
    align-items: center;
    height: auto;
    margin-left: -266px;
    padding-top: 0;
    padding-bottom: 0%;
  }

  .image_form {
    object-fit: cover;
    min-height: auto;
    margin-left: 50px;
  }

  .div-block-87 {
    justify-content: space-around;
  }

  .panel_form {
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .wstep_do_pacjentow {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;
    margin-top: -95px;
    padding-left: 0;
    padding-right: 0;
    position: static;
  }

  .button {
    display: none;
  }

  .button.w--current {
    margin-bottom: 54px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  .section_form_2 {
    margin-top: 0;
    padding-left: 100px;
    padding-right: 100px;
  }

  .rich-text-block {
    margin-bottom: 20px;
  }

  .div-block-90 {
    flex: 0 auto;
  }

  .select-field-2 {
    min-width: 210px;
    max-width: none;
  }

  .section_formularz_2 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .googleform {
    max-height: 2580px;
  }

  .zamow_kot {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .lottie-animation-2 {
    width: 250px;
    margin-left: -49px;
  }

  .logo {
    height: 100px;
    margin-top: 17px;
  }

  .cloud {
    height: 250px;
  }

  .tringulat_zab {
    z-index: 2;
  }

  .tringular_1 {
    height: 400px;
  }

  .section_home {
    margin-top: 480px;
    position: relative;
  }

  .image_home.protetyka-2 {
    margin-bottom: -36px;
  }

  .panel-gorny {
    z-index: 1;
  }

  .bg {
    height: 120px;
  }

  .txt.pracownia-protetyczna._2 {
    margin-top: 21px;
  }

  .txt.artykulografia {
    margin-top: 15px;
  }

  .pracownia {
    margin-top: 42px;
    margin-left: 10px;
    font-size: 16px;
  }

  .zab {
    height: 350px;
    margin-top: 318px;
  }

  .image {
    width: 400px;
    margin-left: -214px;
  }

  .cloud_3_s2 {
    margin-top: -33px;
    margin-left: -22%;
    top: 44%;
  }

  .section_kontakt._2 {
    margin-top: 530px;
  }

  .kategorie.zespol {
    margin-top: 64px;
    margin-bottom: 34px;
  }

  .stopka {
    height: 400px;
    position: static;
  }

  .div_stopka {
    background-image: url('../images/Tringular_3_White.svg'), url('../images/Cloud_White_50.png'), url('../images/Cloud_White_50.png');
    background-position: 50%, 150%, 0%;
    background-repeat: no-repeat, repeat-x, repeat-x;
    background-size: auto 300px, 80%, cover;
    flex-direction: column;
    justify-content: center;
  }

  .top-cover {
    height: 117px;
  }

  .link-block {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .link {
    margin-right: 0;
  }

  .polityka-prywatnosci {
    margin-top: 500px;
  }

  .link_logo {
    height: 110px;
  }

  .tringular_3 {
    margin-right: -247px;
  }

  .txt_polityka_prywatnosci {
    width: 90%;
  }

  .div-block-5 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .image-12 {
    margin-top: -305px;
  }

  .maz_2.mazmap2 {
    height: 10%;
    margin-top: 43%;
    margin-left: -8%;
  }

  .zadzwon {
    margin-bottom: 240px;
    margin-right: 10px;
  }

  .section_zespol._2 {
    margin-top: 472px;
  }

  .osoba {
    margin-top: 498px;
  }

  .image-18 {
    margin-bottom: 686px;
  }

  .image-20 {
    width: 25%;
  }

  .div_links_stopka_right_up {
    flex-direction: column;
    margin-left: 0;
  }

  .stopka_right {
    text-align: center;
    flex-direction: column;
  }

  .div-block-8 {
    margin-top: 9px;
  }

  .tooth {
    display: none;
  }

  .accordian-item-trigger:focus {
    background-color: #6b9da859;
  }

  .round-16 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .kreski_button {
    transition: transform .2s;
    transform: scale(.9);
  }

  .kreski_button:hover {
    transform: scale(.9);
  }

  .menu-button {
    margin-left: 5%;
  }

  .happy_tooth {
    display: none;
  }

  .menu_accordian {
    align-items: flex-start;
    padding-top: 31px;
  }

  .tringulates_a_2 {
    margin-left: -239px;
  }

  .section-portfolio {
    margin-top: 480px;
  }

  .dystans {
    height: 60px;
  }

  .section-innowacje {
    margin-top: 451px;
  }

  .section_tech.proj_cad {
    margin-top: 362px;
    padding-top: 80px;
  }

  .section_tech.proj_cam, .section_tech.frezowanie, .section_tech.synteryzacja, .section_tech.druk_3d, .section_tech.ceramika {
    margin-top: -111px;
    padding-top: 80px;
  }

  .section_form.kat {
    min-height: 250px;
    margin-top: 362px;
    padding-top: 80px;
  }

  .section-intro {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
    margin-bottom: -191px;
  }

  .image_form {
    max-width: 1033px;
    min-height: 0;
    margin-top: 0;
  }

  .image_cloud {
    display: none;
  }

  .panel_form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .wstep_do_pacjentow {
    max-width: none;
    margin-top: 100px;
  }

  .button {
    display: none;
  }

  .section_form_2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .rich-text-block {
    max-width: none;
    padding-left: 100px;
    padding-right: 20px;
  }

  .image-34 {
    display: none;
  }

  .div-block-89 {
    display: block;
  }

  .div-block-90 {
    flex-direction: column;
    display: flex;
  }

  .select-field-2 {
    min-width: auto;
    max-width: none;
  }

  .section_formularz_2 {
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .text-block {
    flex: 0 auto;
    justify-content: center;
    font-size: 16px;
    display: flex;
  }

  .box_zgody {
    flex-direction: column;
  }

  .googleform {
    max-height: 2770px;
  }

  .logo_face-clinic-2 {
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0;
  }

  .div-block-57 {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .link-block-3 {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .lottie-animation-2 {
    display: none;
  }

  .logo {
    height: 80px;
    padding-right: 15px;
  }

  .cloud {
    right: -34px;
  }

  .container {
    justify-content: flex-end;
    overflow: hidden;
  }

  .tringulat_zab {
    overflow: hidden;
  }

  .tringular_1 {
    height: 350px;
    margin-top: 77px;
    margin-right: -51px;
  }

  .image_home {
    width: 140%;
    max-width: none;
  }

  .image_home.protetyka-2 {
    margin-bottom: -13px;
  }

  .txt.pracownia-protetyczna._2 {
    margin-top: 18px;
  }

  .txt.artykulografia {
    margin-top: 10px;
  }

  .pracownia {
    display: none;
  }

  .pracownia.mala {
    z-index: 2;
    text-align: left;
    margin-top: 52px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 18px;
    display: block;
    position: fixed;
    inset: 0% auto auto 0%;
  }

  .zab {
    height: 250px;
    margin-top: 406px;
  }

  .image {
    width: 300px;
    margin-left: -137px;
  }

  .cloud_3_s2 {
    margin-top: 64px;
    margin-left: -10%;
  }

  .section_kontakt._2 {
    margin-top: 535px;
  }

  .div-block-2 {
    width: 100%;
  }

  .kategorie.zespol {
    margin-top: 60px;
    margin-bottom: 21px;
  }

  .polityka-prywatnosci {
    margin-top: 479px;
  }

  .link_logo {
    justify-content: flex-end;
  }

  .tringular_3 {
    margin-top: -105px;
    margin-right: -183px;
  }

  .maz_2.mazmap2 {
    height: 7%;
    margin-top: 69%;
    margin-left: 0%;
  }

  .duza_mgla {
    top: -7%;
    left: -162px;
  }

  .section_zespol._2 {
    margin-top: 453px;
  }

  .zespol_grid {
    width: 90%;
  }

  .zespol_duble {
    flex-direction: column;
    align-items: center;
  }

  .zespol_link_os {
    width: 80%;
  }

  .podpis._1 {
    margin-top: 0;
  }

  .image_podpis {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
  }

  .image-18 {
    margin-top: 120%;
    margin-bottom: 512px;
  }

  .podpis_big {
    padding-right: 10%;
  }

  .text-block-7 {
    font-size: 22px;
    line-height: 26px;
  }

  .text-block-8 {
    font-size: 14px;
  }

  .image-19 {
    opacity: .52;
  }

  .image-20 {
    width: 45%;
    margin-top: 59%;
    transform: rotate(46deg);
  }

  .image-21 {
    width: 40%;
    margin-top: 276%;
    margin-left: 4%;
  }

  .html-embed {
    z-index: 0;
  }

  .wstecz {
    z-index: -1;
  }

  .image-23 {
    width: 50%;
    margin-top: 353%;
    margin-left: -6%;
  }

  .image-25 {
    width: 50%;
    margin-top: 190%;
    margin-left: 9%;
  }

  .image-26 {
    width: 50%;
    margin-top: 489%;
    margin-left: -5%;
    transform: rotate(71deg);
  }

  .image-27 {
    width: 400px;
    margin-left: -52%;
  }

  .zespol_funkcja {
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
  }

  .accordian-item-trigger:hover {
    letter-spacing: .7px;
  }

  .kreski_button {
    background-image: none;
    background-size: auto;
    transform: scale(.8);
  }

  .kreski_button:hover {
    transform: scale(.8);
  }

  .menu-button {
    margin-left: 0;
    inset: 0% auto auto 0%;
  }

  .menu_accordian {
    background-image: url('../images/BG_Light_Mirror.jpg');
    background-size: 2235px;
    padding-top: 86px;
  }

  .tringulates_a_2 {
    margin-left: -117px;
  }

  .section-portfolio {
    margin-top: 436px;
  }

  .dystans {
    height: 40px;
  }

  .section-innowacje {
    margin-top: 436px;
  }

  .artykulator {
    width: 80%;
  }

  .image_inn_2 {
    width: 100%;
    max-width: 100%;
  }

  .section_tech.proj_cad {
    margin-top: 361px;
  }

  .section_tech.proj_cam, .section_tech.frezowanie, .section_tech.synteryzacja, .section_tech.druk_3d, .section_tech.ceramika {
    margin-top: -115px;
  }

  .section_form.kat {
    margin-top: 361px;
  }

  .section-intro {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
    align-items: center;
    margin-bottom: -85px;
    margin-left: -152px;
  }

  .image_form {
    width: 1200px;
    max-width: 700px;
  }

  .div-block-87 {
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    display: flex;
  }

  .panel_form {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 21px;
    display: flex;
  }

  .wstep_do_pacjentow {
    align-items: center;
    margin-top: 80px;
  }

  .button {
    position: relative;
  }

  .paragraph {
    margin-bottom: 0;
    padding-left: 10px;
  }

  .div-block-85 {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .container-3 {
    padding-left: 0;
  }

  .section_form_2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .rich-text-block {
    margin-top: -77px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }

  .div-block-89, .div-block-88 {
    display: block;
  }

  .select-field-2 {
    width: 100%;
    min-width: auto;
    max-width: none;
  }

  .form_lebel {
    min-width: auto;
  }

  .section_formularz_2 {
    margin-left: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }

  .box_zgody {
    flex-direction: column;
  }

  .div-block-93 {
    align-items: flex-start;
    overflow: hidden;
  }

  .googleform {
    max-height: 3130px;
  }
}


